@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.mainContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 820px;
    width: 100vw;
    border-radius: 10px;
    align-items: center;
    margin-top: 100px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;

    
}
.subContainer{
    width: 100%;
    justify-content: center;
}
.headText{
    color: white;
    font-size: 35px;
    font-family: "Lora", serif;
    font-weight: 500;
    width: 450px;
    border-radius: 50px;
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: center;
    background-color: #0096ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.imageWrapper{
    flex:0 0 auto;
}
.imageContainer {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-top: 430px;
    width: 87vw;
    height: 800px;
    align-items: center;
    z-index: 2;
    padding-right: 100px;
    padding-left: 10px;
  }
.imageContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.menuImage{
    height: 600px;
    width: 300px;
    margin-left: 50px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out,box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.menuImage:hover{
    z-index: 10;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border:10px solid white;
}
.logo{
    height: 50px;
    width: 50px;
    fill:black;
}
.subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.navBtn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 10%;
    position: relative;
    top: 200px;
}
.arrowIcon {
    width: 50px;
    height: 50px;
    fill: #0096ff;
    padding: 0;
    margin: 0;
}
.arrowIcon:hover{
    fill: white;
}
.navBtn:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
.navBtn:active{
    border: none;
}
.modalOverlay {
    position:fixed;
    left: 0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modalImage {
    height: 800px;
    width: 400px;
    border-radius: 5px;
}

.modalNavBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(250, 251, 251,0.5);
}

.modalNavBtn:focus {
    outline: none;
}

.modalArrowIcon {
    width: 20px;
    height: 20px;
    fill: black;
}

.modalNavBtn:hover .modalArrowIcon {
    fill: white;
}

.modalNavBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent button:first-child {
    left: -100px;
}

.modalContent button:last-child {
    right: -100px;
}
@media(max-width:860px){
    .modalContent button:first-child {
        left: -50px;
    }
    
    .modalContent button:last-child {
        right: -50px;
    }
}
@media(max-width:750px){
    .modalImage{
        transform: scale(0.75);
    }
    .modalContent button:first-child {
        left: -10px;
    }
    
    .modalContent button:last-child {
        right: -10px;
    }
}
@media(max-width:595px){
    .modalContent button:first-child {
        position:absolute;
        top:750px;
        left:150px;
    }
    
    .modalContent button:last-child {
        position:absolute;
        top:750px;
        right:150px;
    }
}
@media(max-width:480px){
    .modalImage{
        transform: scale(0.5);
    }
    .modalContent button:first-child {
        position:absolute;
        top:700px;
        left:150px;
    }
    
    .modalContent button:last-child {
        position:absolute;
        top:700px;
        right:150px;
    }
}


.navBtn:disabled .arrowIcon {
    fill: lightgrey;
}
.modalNavBtn:hover .modalArrowIcon {
    fill: white;
}
.modalNavBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.modalNavBtn:disabled {
    background-color: grey;
    cursor: not-allowed;
}
.modalNavBtn:disabled .modalArrowIcon {
    fill: lightgrey;
}

