/* Modal styles */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
  }
  
  .modal {
    position: relative;
    padding: 1rem;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    display: flex;
    align-items: center;
  }
  
  .modalImage {
    width: 30vw;
    height: 70vw;
    object-fit: contain; /* Keeps the aspect ratio of the image */
  }
  
  .modalCloseBtn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .modalNavBtn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .modalArrowIcon {
    width: 2rem;
    height: 2rem;
    fill: rgb(253, 251, 251);
  }
  .modalCloseIcon{
    fill: rgb(246, 245, 245);
    width: 1rem;
  }
  
  /* Existing styles */
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
  }
  
  .headText {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .arrowIcon {
    width: 2rem;
    height: 2rem;
    fill: black;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 25rem;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    scroll-behavior: smooth;
    padding-left: 2rem;
  }
  
  .imageContainer::-webkit-scrollbar {
    display: none;
  }
  
  .subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .imageWrapper {
    flex: 0 0 auto;
    margin-right: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }
  
  .menuImage {
    height: 20rem;
    width: 10rem;
  }
  
  .imageWrapper:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.2s;
    border: 2px solid white;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 710px) {
    .imageContainer {
      width: 70%;
    }
  }
  
  @media (max-width: 615px) {
    .imageContainer {
      width: 75%;
    }
    .imageWrapper {
      margin-right: 1rem;
    }
  }
  
  @media (max-width: 556px) {
    .menuImage {
      width: 20vw;
      height: 40vw;
    }
    .imageContainer {
      height: 50vw;
    }
  }
  
  @media (max-width: 471px) {
    .imageContainer {
      padding-left: 0.5rem;
    }
    
  }
  