@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.mainContainer{
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 90vw;
    border-radius: 10px;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    z-index: 10;
}

.Container{
    height: 390px;
    width: 90vw;
    background-color: rgb(0, 162, 255);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    top: 400px;
    left: 45px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.Containers{
    height: 390px;
    width: 90vw;
    background-color: rgb(91, 188, 245);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top:10px;
    left: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    z-index: 4;
}
.headText{
    color: white;
    font-size: 35px;
    font-family: "Lora", serif;
    font-weight: 500;
    width: 450px;
    border-radius: 50px;
    margin-bottom: 100px;
    margin-top: 20px;
    text-align: center;
    background-color: #0096ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75vw;
    z-index: 2;
}
.menuImage{
    height: 200px;
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.menuImage:hover{
    z-index: 10;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    border: 10px solid white;
}
.logo{
    height: 50px;
    width: 50px;
    fill: black;
}
.subContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}
.navBtn {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 10%;
}
.arrowIcon {
    width: 50px;
    height: 50px;
    fill: #0096ff;
    padding: 0;
    margin: 0;
}
.arrowIcon:hover{
    fill: white;
}
.navBtn:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
}
.navBtn:active{
    border: none;
}
.navBtn:disabled .arrowIcon {
    fill: lightgrey;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}
.modalContent {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.modalImage {
    height: 500px;
    width: 580px;
    border-radius: 5px;
}
.modalNavBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(250, 251, 251, 0.5);
    border-radius: 5px;
}
.modalNavBtn:focus {
    outline: none;
}
.modalArrowIcon {
    width: 20px;
    height: 20px;
    fill: black;
}
.modalNavBtn:hover .modalArrowIcon {
    fill: white;
}
.modalNavBtn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.modalNavBtn:disabled .modalArrowIcon {
    fill: lightgrey;
}
.modalContent button:first-child {
    left: -100px;
}
.modalContent button:last-child {
    right: -100px;
}
@media(max-width:860px) {
    .modalContent button:first-child {
        left: -50px;
    }
    .modalContent button:last-child {
        right: -50px;
    }
}
@media(max-width:750px) {
    .modalImage {
        transform: scale(0.75);
    }
    .modalContent button:first-child {
        left: 30px;
    }
    .modalContent button:last-child {
        right: 30px;
    }
}
@media(max-width:595px) {
    .modalContent button:first-child {
        position: absolute;
        top: 500px;
        left: 200px;
    }
    .modalContent button:last-child {
        position: absolute;
        top: 500px;
        right: 200px;
    }
}
@media(max-width:480px) {
    .modalImage {
        transform: scale(0.5);
    }
    .modalContent button:first-child {
        position: absolute;
        top: 400px;
        left: 200px;
    }
    .modalContent button:last-child {
        position: absolute;
        top: 400px;
        right: 200px;
    }
}
