@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.cardHolder {
	height: 300px;
	width: 300px;
	display: flex;
	justify-content: "center";
	align-items: "center";
	margin-top: 20px;
	margin-right: 20px;
}
.card1 {
	border-top: 10px solid #0096ff;
	border-bottom: 10px solid #0096ff;
	background-color: white;
	height: 290px;
	width: 280px;
	border-radius: 0 50px 0 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background-color: white;
}
.imageContainer {
	margin-bottom: -30px;
	position: relative;
	bottom: 15px;
}
.image {
	width: 50px;
	height: 50px;
	border: 2px rgb(230, 240, 242) solid;
	border-radius: 50%;
}
.nameContainer {
	padding: 0;
	margin-top: 10px;
}
.name {
	margin: 0;
}
.ratingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-10px;
}
.textContainer {
	width: 260px;
	height: 170px;
	overflow-x: auto;
}
.textContainer::-webkit-scrollbar {
	display: none;
}

.textContainer {
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}
.dateCont {
	font-size: 10px;
	margin: 0;
}
.reviewHead {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 0;
}
.reviewPara {
	text-align: left;
	margin: 0;
	font-size: 12px;
}
.likbtn {
	border-radius: 10px;
	border: none;
	background-color: transparent;
}
.lklogo:active {
	fill: gray;
}
.reviewCardSlider {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
	width: 80vw;
	margin-top: 50px;
	padding-left: 20px;
}
.reviewCardSlider::-webkit-scrollbar {
	display: none;
}

.reviewCardSlider {
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.mainHeadText {
	font-size: 35px;
	font-weight: 600;
	margin: 0;
	font-family: "Lora", serif;
	width: 450px;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
	text-align: center;
	color: white;
	background-color: #0096ff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	margin-bottom: 10px;
}
.subMainContainer {
	width: 95vw;
	height: 400px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 10vw;
}

.navigationButtons {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.arrowIcon{
	fill: #0096ff;
}
@media (max-width:580px){
	.mainHeadText{
		width: 70vw;
	}
	.card1{
		transform: scale(0.95);
	}
}
@media (max-width:420px){
	.mainHeadText{
		font-size: 25px;
	}
	.subMainContainer{
		height: 300px;
	}
	.headerContainer{
		margin-bottom: 1px;
		margin-right: 10px;
	}
	.card1{
		transform: scale(0.75);
	}
}
@media(max-width:370px){
	.reviewCardSlider{
		padding-left: 0;
	}
}
@media(max-width:345px){
	.card1{
		transform: scale(0.5);
		margin-left: -30px;
	}
	
	
}
