@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.cardHolder {
	height: 300px;
	display: flex;
	justify-content: "center";
	align-items: "center";
	margin-top: 20px;
	margin-right: 55px;
}
.cardHolder2 {
	height: 300px;
	display: flex;
	justify-content: "center";
	align-items: "center";
	margin-top: 50px;
	margin-right: 55px;
	position: relative;
	bottom: 100px;
}
.card1 {
	background-color: rgba(0, 102, 255, 0.17);
	padding-top: 30px;
	height: 260px;
	width: 350px;
	border-radius: 50px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	border:2px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.card2 {
	background-color: rgba(0, 102, 255, 1);
	padding-top: 30px;
	height: 260px;
	width: 350px;
	border-radius: 50px 0 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	border:2px solid white;
	color:white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.imageContainer {
	margin-bottom: -30px;
	position: relative;
	top: -4px;
}
.image {
	width: 50px;
	height: 50px;
	border: 2px rgb(230, 240, 242) solid;
	border-radius: 50%;
}
.nameContainer {
	padding: 0;
	margin-top: 10px;
}
.name {
	margin: 0;
}
.ratingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:-10px;
}
.textContainer {
	width: 260px;
	height: 170px;
	overflow-x: auto;
}
.textContainer::-webkit-scrollbar {
	display: none;
}

.textContainer {
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}
.dateCont {
	font-size: 10px;
	margin: 0;
}
.reviewHead {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 0;
}
.reviewPara {
	text-align: left;
	margin: 0;
	font-size: 12px;
}
.likbtn {
	border-radius: 10px;
	border: none;
	background-color: transparent;
}
.lklogo:active {
	fill: gray;
}
.reviewCardSlider {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: scroll;
	width: 80%;
	height: auto;
	padding-left: 20px;
}
.reviewCardSlider::-webkit-scrollbar {
	display: none;
}

.reviewCardSlider {
	scrollbar-width: none; /* Hide scrollbar in Firefox */
	-ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.mainHeadText {
	font-size: 35px;
	font-weight: 600;
	margin: 0;
	font-family: "Lora", serif;
	width: 450px;
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
	text-align: center;
	color: white;
	background-color: #0096ff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}


.headContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headBottom{
    position: relative;
    background-color: white;
    bottom: 5px;
    right: 20vw;
    width: 68vw;
    height: 5px;
}
.headTop{
    position: relative;
    background-color: white;
    left: 20vw;
    width: 68vw;
    height: 5px;
}
.headText {
    position: relative;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.subMainContainer {
	width: 100vw;
	height: 600px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	justify-content: center;
	background-color: black;
	padding-top: 20px;
}

.navigationButtons {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}
.arrowIcon{
	fill: white;
}
.iconsa{
	width: 10%;
}
@media (max-width:480px){
	.cardHolder{
		transform: scale(0.5);
		margin-left: -100px;
		margin-right: -30px;
	}
	.cardHolder2{
		transform: scale(0.5);
		margin-left: -100px;
		margin-right: -30px;
	}
}
@media (max-width:380px){
	.headText{
		font-size: 6vw;
	}
}
