
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');




.hero{
    /* border: 2px solid red; */
    display: grid;
    /* margin-top: 10px; */
    column-gap: 10px;
    grid-template-columns: 2fr 3fr;
   
}


.hero-content
{
    /* border: 2px solid black; */
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 5px;
}

.hero-content h1{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    color: #134c57;
    font-size: 40px;
}

.hero-content h2{
    color: #0b363e;
    line-height: 37px;
    
}
.hero-content button{

    font-family: "Merriweather", serif;
    font-weight: 600;
    border-radius: 50px;
    padding: 12px 28px;
    background-color: #008DDA;
    color: white;
    width: fit-content;
    cursor: pointer;
}

#box-1{
    padding-top: 30%;
    line-height: normal;
}
.hero-content img{
    height:90%;
    width: 90%;
}
#box-2{
    padding-top: 5px;
}

._animated {
    animation: slideUpDown 2s ease-in-out infinite alternate;
  }

  @keyframes slideUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); 
    }
  }