.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .headText{
    color: black;
    font-size: 3vw;
    /* margin-top: 2vw; */
    margin-right: 50vw;
  }
  .headContainer{
    /* margin-bottom: 10px; */
  }
  .sliderContent {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 30vw;
    width: 90vw;
  }
  
  .sliderItem {
    flex: 0 0 auto;
    width: 18vw;
    height: 20.5vw;
    margin-right: 50px;
    transition: transform 0.5s ease-in-out;
    border-radius: 30px;
    background-color: white;
   
  }
  .sliderItem:hover{
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(255, 255, 255, 0.5);
     border:1px solid rgb(158, 155, 155);
  }
  
  .brandImage {
   width: 17vw;
   height: 13vw;
   border-radius: 20px;  
   margin-left: 0.4vw; 
   margin-top: 0.8vw;

  }
  
  
  .navigationButtons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .itemName{
    font-weight: bold;
    margin-top: 1vw;
    margin-left: 1vw;
    font-size: 1vw;
    color: black;
  }
  .itemDesc{
    font-size: 1vw;
    color: rgb(71, 69, 69);
    margin-top: 1vw;
    margin-left: 1vw;
  }
  .prevButton{
    margin-top: -45vw;
    font-size: 1vw;
  }
  .nextButton{
    margin-top: -45vw;
    font-size: 1vw;
  }
  