/* AboutComponent.module.css */
.about {
    background: rgb(224, 251, 222);
    background: linear-gradient(360deg, #9af0c8 0%, rgb(173, 252, 163) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
}

.aboutInfo {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.aboutImg {
    width: 20rem;
    height: 20rem;
}

.aboutImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.aboutInfo p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: white;
    background-color: #40b736;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

button:hover {
    background-color: #1f9405;
}
