/* AboutComponent.module.css */
.about {
    background: #000000; /* Black background */
    padding: 100px 0 20px 0;
    text-align: center;
    color: #ffffff; /* White text color for better contrast on black background */
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff; /* White text color */
}

.about p {
    font-size: 1rem;
    color: #e0e0e0; /* Light gray text color for better readability on black background */
    max-width: 800px;
    margin: 0 auto;
}

.aboutInfo {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    color: #ffffff; /* White text color for content inside .aboutInfo */
}

.aboutImg {
    width: 20rem;
    height: 20rem;
    position: relative;
    bottom: 80px;
}

.aboutImg img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.aboutInfo p {
    font-size: 1.3rem;
    margin: 0 2rem;
    text-align: justify;
}

button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    color: #ffffff; /* White text color */
    background-color: #40b736; /* Button background color */
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

button:hover {
    background-color: #1f9405; /* Darker green for button hover effect */
}
