/* TeamComponent.module.css */
.team {
    padding: 30px 0;
    text-align: center;
    background-color: #000; /* Black background for the section */
    color: #fff; /* White text color for contrast */
}

.team h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff; /* White text color */
}

.teamCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: #1e1e1e; /* Dark background for cards */
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: 27rem;
    margin-top: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7); /* Slightly darker shadow on hover */
}

.cardImg {
    width: 18rem;
    height: 12rem;
}

.cardImg img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Changed from fill to cover to maintain aspect ratio */
}

.cardInfo {
    padding: 1rem;
}

.cardName {
    font-size: 2rem;
    margin: 10px 0;
    color: #fff; /* White text color */
}

.cardRole {
    font-size: 1rem;
    color: #bbb; /* Light gray text color for roles */
    margin: 5px 0;
}

.cardEmail {
    font-size: 1rem;
    color: #ddd; /* Light gray text color for email */
}

.button {
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #40b736;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

.button:hover {
    background-color: #1f9405;
}
