/* .navigation {
	background-color: white;
}
.svglogo {
	width: 7vw;
	height: 8vw;
}
.searchlogo {
	width: 12vw;
	height: 8vw;
}
.franchizerzlogo {
	width: 14vw;
	height: 10vw;
}
.ul1 {
	display: flex !important;
	height: 12vw;
	justify-content: space-between;
	padding: 0 0 0 0;
	width: 100vw;
}

.li {
	margin-top: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

@media screen and (max-width: 600px) {
	.navigation {
		display: block;
	}
	.logo {
		font-size: 2vh;
		font-family: Arial, Helvetica, sans-serif;
	}
	.ul1 {
		justify-content: space-around;
	}
}
@media screen and (max-width: 1024px) {
	.menuText {
		display: none;
	}
}

.navbar {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
    color: #000;
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100%;
}

.logo h1 {
    margin-left: 10px;
    font-size: 40px;
}

.logo h4 {
    font-size: 15px;
    align-self: flex-end;
    margin-left: 13px;
}

ul {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
}

ul li {
    display: inline-flex;
    align-items: center;
    margin: 5px 5px;
    font-size: 18px;
    cursor: pointer;
}

ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

ul li svg {
    margin-right: 5px;
}

ul li:hover {
    border-radius: 50px;
    background-color: #41c9e2;
    padding: 3px;
    transition: transform 0.2s;
    transform: scale(1.15);
}

.search-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: lightgray;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: grey;
    font-size: 18px;
    max-width: 200px;
} */


.navigation {
    background-color: white;
}

.svglogo {
    width: 7vw;
    height: 8vw;
}

.franchizerzlogo {
    width: 14vw;
    height: 10vw;
}

.ul1 {
    display: flex !important;
    height: 12vw;
    justify-content: space-between;
    padding: 0;
    width: 100vw;
}

.li {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.searchLi {
    flex: 1;
    display: flex;
    justify-content: center;
}

.searchBox {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    font-size: 1vw;
    position: relative;
    border: 2px solid rgb(105, 175, 255);
}

.searchInput {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    width: 50%;
}


.searchIcon {
    margin-right: 10px;
    color: rgb(69, 165, 255);
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0 0 5px 5px;
    z-index: 1000;
    color: #000000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdownItem {
    padding: 10px;
    cursor: pointer;
}

.dropdownItem:hover {
    background-color: #55dffa;
}

.categoryDropdown {
    position: relative;
    margin-right: 10px;
}

.categoryButton {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
}

.categoryDropdownList {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(24, 185, 218);
    color: #000000;
    border-radius: 5px;
    z-index: 1000;
    width: max-content;
}

.categoryDropdownItem {
    padding: 10px;
    cursor: pointer;
}

.categoryDropdownItem:hover {
    background-color: #4cd0f8;
}

@media screen and (max-width: 600px) {
    .navigation {
        display: block;
    }
    .logo {
        font-size: 2vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    .ul1 {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    .menuText {
        display: none;
    }
}

.navbar {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 15px;
    color: #ffffff;
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo-img {
    height: 100px;
    width: 100%;
}

.logo h1 {
    margin-left: 10px;
    font-size: 40px;
}

.logo h4 {
    font-size: 4px;
    align-self: flex-end;
    margin-left: 13px;
}

ul {
    list-style: none;
    text-align: center;
    display: flex;
    align-items: center;
}

ul li {
    display: inline-flex;
    align-items: center;
    margin: 5px 5px;
    font-size: 18px;
    cursor: pointer;
}

ul li a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

ul li svg {
    margin-right: 5px;
}

ul li:hover {
    border-radius: 50px;
    background-color: #41c9e2;
    padding: 3px;
    transition: transform 0.2s; 
    transform: scale(1.15);
}

