* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	background: rgba(0, 102, 255, 1);
	color: #000000;
	padding: 10px 0 10px;
	padding-top: 40px;
	font-size: 15px;
	line-height: 24px;
}

.row {
	width: 85%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.col {
	flex-basis: 25%;
	padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
	flex-basis: 15%;
}

.logo {
	width: 80px;
	margin-bottom: 10px; /* Reduced margin */
}

.col h3 {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom: 10px; /* Reduced margin */
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
}

.col h4 {
	font-size: 1.0rem;
}

.col p {
	margin-bottom: 5px; /* Reduced margin */
}

.col p a {
	text-decoration: none; /* Remove underline by default */
	color: #000000; /* Set text color to white */
	position: relative;
	display: inline-block; /* Ensure links are inline-block for better padding control */
	padding-bottom: 2px; /* Adjust padding for better spacing */
}

.col p a::after {
	content: '';
	width: 0;
	height: 2px;
	background: #030303; /* Underline color */
	position: absolute;
	left: 0;
	bottom: 0; /* Ensure the underline is at the bottom of the link */
	transition: width 0.3s ease; /* Smooth transition for underline */
}

.col p a:hover::after {
	width: 100%; /* Show underline on hover */
}

.emailId {
	width: fit-content;
	border-bottom: 1px solid #000000;
	margin: 10px 0; /* Reduced margin */
}

.form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #080808;
	margin-bottom: 20px; /* Reduced margin */
	height: 50px;
}

.icon {
	font-size: 16px;
	margin-top: 10px;
	padding: 5px;
	margin-right: 10px;
}

.input {
	width: 100%;
	background: transparent;
	color: #0a0a0a;
	border: 0;
	outline: none;
	display: flex;
}

.button {
	background: transparent;
	border: 0;
	outline: none;
	cursor: pointer;
	width: fit-content;
}

.socialIcons .icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #090909;
	margin-right: 10px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.socialIcons .icon:hover {
	background: rgba(255, 255, 255, 0.2);
}
 
.hr {
	width: 100vw;
	height: 4px;
	background-color: rgb(9, 9, 9);
	margin: 10px auto;
}

.copyright {
	text-align: center;
	margin-top: 10px;
}

.underline {
	width: 100%;
	height: 5px;
	background: #040ed4;
	border-radius: 3px;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.underline span {
	width: 15px;
	height: 100%;
	background: #fff;
	border-radius: 3px;
	position: absolute;
	top: 0;
	left: 10px;
	animation: moving 2s linear infinite;
}

@keyframes moving {
	0% {
		left: -20px;
	}
	100% {
		left: 100%;
	}
}

@media (max-width: 700px) {
	.footer {
		bottom: unset;
	}
	.col {
		flex-basis: 100%;
	}
	.col:nth-child(2),
	.col:nth-child(3) {
		flex-basis: 100%;
	}
}
