*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: "Basis Grotesque Pro", Arial, sans-serif !important;
    /* background-color: #41C9E2; */
    background-color: #fff;
}